<div style="padding-bottom:40px">
<h1 mat-dialog-title>{{ 'WES.wesLeadSummary' | translate }}</h1>
<hr>
<form #wesCommentForm="ngForm" >
		<div class="row">
			<div class="col-md-6 col-spacing"><strong>{{ 'COMMON.name' | translate }}: </strong>{{ leadData?.name}} </div>
			<div *ngIf="wesPricingIssueEnabled && wesData?.pricingIssue" class="col-md-6 col-spacing"><mat-icon>monetization_on</mat-icon><strong>  {{ 'WES.pricingIssue' | translate }}</strong></div>
		</div>
		<div class="row">
			<div class="col-md-6 col-spacing"><strong>{{ 'WES.dollarValue' | translate }}: </strong>{{ wesData?.amount | currency }}</div>
			<div class="col-md-6 col-spacing"><strong>{{ 'WES.customerPhoneNumber' | translate }}: </strong>{{ wesData?.customer_PHONE_NUMBER__C | phone }} </div>
		</div>
		<div class="row">
			<div class="col-md-6 col-spacing"><strong>{{ 'COMMON.status' | translate }}: </strong>{{ wesData?.stagename}}</div>
			<div *ngIf="!wesData?.email" class="col-md-6 col-spacing"><strong>{{ 'WES.submissionDate' | translate }}: </strong>{{ leadData?.created_DATE_CALC__C}}</div>
			<div *ngIf="wesData?.email" class="col-md-6 col-spacing"><strong>{{ 'WES.customerEmail' | translate }}: </strong>{{ wesData?.email}}</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-spacing"><strong>{{ 'WES.request' | translate }}: </strong>{{ leadData?.description}}</div>
			<div *ngIf="wesData?.email" class="col-md-6 col-spacing"><strong>{{ 'WES.submissionDate' | translate }}: </strong>{{ leadData?.created_DATE_CALC__C}}</div>
		</div>

	  <hr>
	  <div class="row">
	  	<div class="col-md-6 col-spacing"><strong>{{ 'WES.printSpecialistName' | translate }}: </strong>{{ wesData?.owner_FULL_NAME__C }} </div>
	  	<div class="col-md-6 col-spacing"> <strong>{{ 'WES.printSpecialistPhone' | translate }}: </strong>{{ wesData?.owner_PHONE | phone}} <strong>ext: </strong>{{ wesData?.owner_EXTENSION_CALC__C}}</div>
	  </div>
	  <div class="row">
	  	<div class="col-md-6 col-spacing"><strong>{{ 'WES.printSpecialistEmail' | translate }}: </strong>{{ wesData?.owner_EMAIL }} </div>
	  	<div class="col-md-6 col-spacing"></div>
	  </div>

	  <hr>
	  <h4 align="center">{{'WES.comments' | translate}}</h4>
	  <div [innerHTML]="wesData?.comments | replaceLineBreaks " class="commentsSection"></div>
	   <hr>
	  <h4 align="center">{{'WES.storeComments' | translate}}</h4>
	  <div [innerHTML]="wesData?.store_Comments_c | replaceLineBreaks " class="commentsSection"></div>
	  <hr>

	  <div>
	    <mat-radio-group [(ngModel)]="sharedDataService.wesComment.escalationFlag" name="escalationFlag" required >
	    	<mat-radio-button [value]="false"  color="primary">{{'WES.comment' | translate}}</mat-radio-button>
	    	<mat-radio-button [value]="true" color="primary">{{'WES.escalation' | translate}}</mat-radio-button>
	    </mat-radio-group>
	  </div>
	  <div>
			<textarea id="comments" style="resize: vertical;" class="form-control" placeholder="{{'WES.enterComments' | translate}}" maxlength="3000"
			[(ngModel)]="sharedDataService.wesComment.comments" name="comments" required></textarea>
	  </div>
	  <div class="float-left pt-2">
	  		<button mat-stroked-button type="button" (click)="fileUpload()">{{'BUTTON.uploadFile' | translate}}</button>
	  		<div class="float-right pt-2 pl-2" *ngIf="sharedDataService.wesFileName">{{sharedDataService.wesFileName}}</div>
	  </div>
	  <div class="float-right pt-2">
    		<button mat-flat-button color="primary" type="submit" cdkFocusInitial (click)="onSubmit()" [disabled]="!wesCommentForm.form.valid">{{'BUTTON.submit' | translate}}</button>
  	  </div>
</form>
</div>
