
.row {
    margin: 0 0 0 0;
}

.dropzone {
    min-height: 200px;
    min-width: 400px;
    display: table;
    width: 100%;
    background-color: #eee;
    border: dotted 1px #aaa;
}

.text-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.centered {
  font-family: sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  text-align:center;
}

textarea {
  font-size: inherit;
  height: 20px;
  overflow: hidden;
}

.right-justified {
  font-family: sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  text-align:right;
}

.fileSelector {
    display: none;
}

.fileLabel {
    padding: 5px;
    background-color: #B50000;
    color: white;
    cursor: pointer; /* "hand" cursor */
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.fileLabel:hover {
    background-color: #4d4d4d;
}

.full-width {
    width: 100%;
}

.mat-dialog-content {
    height: 100%;
    overflow: visible;
}

.warning {
	color: #B50000;
}

.previewWrapper {
    display: block;
    clear: both;
}

.fileUploadError {
    z-index: 10000;
}
