.red {
    color: red;
  }

  .divider {
    width: 5px;
    height: auto;
    display: inline-block;
  }

  table {
    width: 100%;
  }

  .mat-header-cell {
    font-size: 15px;
    font-weight: bold;
  }

  .mat-cell {
    padding-left: 8px;
    padding-right: 8px;
  }

  .cust-mat-row {
    cursor: pointer;
    background: none;
  }

  .cust-mat-row:hover {
    box-shadow:
      inset 1px 0 0 #dadce0,
      inset -1px 0 0 #dadce0,
      0 1px 2px 0 rgba(60, 64, 67, .3),
      0 1px 3px 1px rgba(60, 64, 67, .15);
    -webkit-box-shadow:
      inset 1px 0 0 #dadce0,
      inset -1px 0 0 #dadce0,
      0 1px 2px 0 rgba(60,64,67,.3),
      0 1px 3px 1px rgba(60,64,67,.15);
    background-color: rgba(0, 0, 0, 0.04);
    position: relative;
    z-index: 1;
  }

  .table-badge {
    margin: 0 1px;
  }

  td.mat-cell:last-child,
  td.mat-footer-cell:last-child,
  th.mat-header-cell:last-child {
    padding-right: 10px;
  }

  td.mat-cell:first-child,
  td.mat-footer-cell:first-child,
  th.mat-header-cell:first-child {
    padding-left: 10px;
  }
