<form #wonQuoteForm="ngForm" (ngSubmit)="onSubmit()">

	<h3>{{ 'QUOTES.wonQuote' | translate}}</h3>
	<hr>

	<div class="col-xs-12 col-md-12 float-left">
		<h5>{{'QUOTES.pleaseSelectADateAndTime' | translate}}:</h5>
	</div>

	<div class="col-xs-5 col-md-5 float-left pr-0">
		<mat-form-field class="col-xs-12 col-md-12">
		  <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="date" name="date"
		  (focus)="openCalendar(picker)" (click)="openCalendar(picker)" color=red #elementToFocus [min]="minDate"
			(ngModelChange)="populateTimes()" required>
		  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		  <mat-datepicker #picker="matDatepicker"></mat-datepicker>
		</mat-form-field>
	</div>
	<div class="col-xs-6 col-md-6 float-right pl-0">
		<mat-form-field >
			<mat-select placeholder="Time" [(ngModel)]="selectedTime" name="time" required [disabled]="times.length === 0">
				<mat-option *ngFor="let time of times" value="{{time}}">{{time}}</mat-option>
			</mat-select>
		</mat-form-field>
	</div>


	<div class="col-xs-6 col-md-6 float-left">
		<label> </label>
	</div>
	<div class="float-right">
		<button mat-stroked-button type="button" (click)="onNoClick()">{{ 'BUTTON.cancel' | translate }}</button>
    <div class="divider"></div>
		<button mat-stroked-button color=primary type="submit" [disabled]="!wonQuoteForm.form.valid">{{ 'BUTTON.continue' | translate }}</button>
	</div>
</form>
