<div class="row" >
    <div class="col-md-12">
        <mat-card>
            <mat-card-content>
                <div>
                    <div class="alert alert-warning" role="alert" *ngIf="showSampleFileWarning && orderConfigService.activeJob.mediaType == 0">
                        {{'CONFIG.sampleFileWarning' | translate}}
                    </div>
                    <app-file-preview-images [files]="pbResults" [configScreen]="true"></app-file-preview-images>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div id="previewHandle" *ngIf="showSideBar" (click)="showProductPreview()">
        <div class="inner rotate90">{{'FILEUPLOAD.productPreview' | translate}}</div>
    </div>
</div>

